a{
    text-decoration: none;
    font-size: 20px;
    color: darkgreen;
}
.list{
    font-size: 25px;
    color:darkred;
}
.add {
    color:blue;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
}
input[type=submit] {
    background-color: brown;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.error{
    color:red;
    font-size: 30px;
}